body {
  overflow-y: scroll;
}

@keyframes fadeInHorize {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.fade-in-horize {
  animation: fadeInHorize 0.8s ease forwards;
}
